.gineses-title {
  font-family: "Yantramanav", sans-serif;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.gineses-text {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem 10rem 0 10rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.Container-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 8rem;

  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
  }
}