.title-all-products {
    display: flex;
    font-family: "Yantramanav", sans-serif;
    font-size: 2rem;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(37, 58, 47);
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 3rem;
}